body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
  }
  
  h1, h2, h3 {
    color: #333;
    font-weight: bold;
  }
  
  p, ul {
    margin-bottom: 20px;
    color: #555;
  }
  
  .download-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
  }
  
  .download-button:hover {
    background-color: #0056b3;
  }
  